<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/3ef121dd-bee6-4bf3-bc47-9a4a8080f68f/resourceGroups/CICDemo-QA_group/providers/Microsoft.ContainerRegistry/registries/TestCore20251214134624</ContainerResourceId>
    <ContainerResourceName>TestCore20251214134624</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>testcore20251214134624.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>cic-ctr-in</ContainerName>
    <EnvironmentName>managedEnvironment-CICDemoQAgroup-81e5</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://cic-ctr-in.internal.orangesky-d809e7db.centralindia.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/3ef121dd-bee6-4bf3-bc47-9a4a8080f68f/resourceGroups/ctr-in/providers/Microsoft.App/containerapps/cic-ctr-in</ResourceId>
    <ResourceGroup>ctr-in</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>