name: Build and deploy .NET application to container app cic-ctr-in
on:
  push:
    branches:
    - main
permissions:
  id-token: write
  contents: read
env:
  CONTAINER_APP_CONTAINER_NAME: cic-ctr-in
  CONTAINER_APP_NAME: cic-ctr-in
  CONTAINER_APP_RESOURCE_GROUP_NAME: ctr-in
  CONTAINER_REGISTRY_LOGIN_SERVER: testcore20251214134624.azurecr.io
  DOCKER_FILE_PATH: TestCore/Dockerfile
  PROJECT_NAME_FOR_DOCKER: testcore
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout to the branch
      uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }}
        username: ${{ secrets.TestCore20251214134624_USERNAME_73FF }}
        password: ${{ secrets.TestCore20251214134624_PASSWORD_73FF }}
    - name: Build and push container image to registry
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }}/${{ env.PROJECT_NAME_FOR_DOCKER }}:${{ github.sha }}
        file: ${{ env.DOCKER_FILE_PATH }}
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ vars.cic_ctr_in_CLIENT_ID_73FF }}
        tenant-id: ${{ vars.cic_ctr_in_TENANT_ID_73FF }}
        subscription-id: ${{ vars.cic_ctr_in_SUBSCRIPTION_ID_73FF }}
    - name: Deploy to containerapp
      uses: azure/CLI@v2
      with:
        inlineScript: >
          az config set extension.use_dynamic_install=yes_without_prompt

          az containerapp registry set --name ${{ env.CONTAINER_APP_NAME }} --resource-group ${{ env.CONTAINER_APP_RESOURCE_GROUP_NAME }} --server ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }} --username ${{ secrets.TestCore20251214134624_USERNAME_73FF }} --password ${{ secrets.TestCore20251214134624_PASSWORD_73FF }}

          az containerapp update --name ${{ env.CONTAINER_APP_NAME }} --container-name ${{ env.CONTAINER_APP_CONTAINER_NAME }} --resource-group ${{ env.CONTAINER_APP_RESOURCE_GROUP_NAME }} --image ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }}/${{ env.PROJECT_NAME_FOR_DOCKER }}:${{ github.sha }}
    - name: logout
      run: >
        az logout
